[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
commonName = {{ansible_hostname}}.{{domain}}
countryName = US
stateOrProvinceName = California
localityName = San Jose

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
IP.1 = {{ansible_default_ipv4.address}}
DNS.1 = {{ansible_hostname}}
DNS.2 = {% if ansible_fqdn|search('\.') %}{{ansible_fqdn}}{% else %}{{ansible_hostname}}.{{domain}}{% endif %}

