DEVICE={{br_int}}
TYPE=Bridge
IPADDR={{ansible_default_ipv4.address}}
NETMASK={{ansible_default_ipv4.netmask}}
GATEWAY={{ansible_default_ipv4.gateway}}
ONBOOT=yes
BOOTPROTO=none
NM_CONTROLLED=no
DELAY=0
